<template>
    <div class="container" id="rout">
        <br /><br /><br />
        <div>
            <div v-if="edit">
                <h1>Izmeni Kategoriju:</h1>
            </div>
            <div v-else>
                <h1>Dodaj Kategoriju:</h1>
            </div>
            <form @submit.prevent="addCategory">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="category.kategorija">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <b-form-select v-model="category.p_id">
                                <option v-for="category in categories" v-bind:value="category.id" v-if="category.p_id == 0">

                                    {{ category.kategorija }}

                                </option>
                            </b-form-select>
</div>

                    </div>
                </div>

                <br />
                <div class="form-group" v-if="edit">
                    <button class="site-btn place-btn">Izmeni</button>
					<button class="site-btn place-btn" @click.prevent="clearForm()">Povratak na prethodnu stranu</button>
                </div>
                <div class="form-group" v-else>

                    <button class="site-btn place-btn"">Kreiraj</button>

                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kategorija</th>
                    <th>Kategorija Roditelj</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="category in categories" :key="category.id">
                    <td>{{ category.id }}</td>
                    <td>{{ category.kategorija }}</td>
                    <td>
                        <div v-if="category.p_id == 0">

                        </div>
                        <div v-if="category.p_id != 0">
                            <div v-for="c in categories" :key="c.id">
                                <div v-if="c.id == category.p_id">
                                    {{ c.kategorija }}
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>
                        <button class="p-btn" @click.prevent="editCategory(category)">Edit</button>
                        <button class="p-btn" @click.prevent="deleteCategory(category.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    import 'sweetalert2/src/sweetalert2.scss'
    export default {
      data() {
          return {
         //   isLoggedIn : null,
            categories: [],
          category:{
          id: '',
          kategorija: '',
          p_id: ''
          },
            category_id: '',

          edit: false

        }
        },
        mounted() {
          //    this.isLoggedIn = localStorage.getItem('shop.mdi.in.rs.jwt') != null;
        },
      created() {
          this.sveKategorije();

    },
    methods: {
      sveKategorije()  {
        let uri = '/api/categories';

      this.axios.get(uri).then(response => {
        this.categories = response.data;
      });
    },
	stopEdit(){
		this.edit = false;
		},
      deleteCategory(id)
      {
          const swalWithBootstrapButtons = Swal.mixin({
                      customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                      },
                      buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                      title: 'Da li ste sigurni ?',
                      text: "Želite da obrišete ovu kategoriju!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Da, obriši je!' ,
                      cancelButtonText: 'Ne!',
                      reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                          let uri = `/api/category/delete/${id}`;
            this.axios.delete(uri,  {
                        headers: {
                            'Access-Control-Allow-Origin': '*',
                        }
                    }).then(response => {

                                swalWithBootstrapButtons.fire(
                                    'Obrisan!',
                                    'Vaša kategorija je obrisana.',
                                    'success'
                                )
                                this.clearForm();              
                                this.sveKategorije();
                            })
                            }
                         else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                      ) {
                        swalWithBootstrapButtons.fire(
                          'Otkazano',
                          'Vaša kategorija je i dalje aktivna',
                          'info'
                        )
                      }
                    })
        },
        addCategory(){
            if (this.edit === false) {
              let uri = '/api/category/create';
              this.axios.post(uri, this.category).then((response) => {
              this.clearForm();
               Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Kategorija je dodata!',
                              showConfirmButton: false,
                              timer: 1500
                            })
              this.sveKategorije();

            });
           } else {
            // update Category
             let uri = `/api/category/update/${this.category.id}`;
             this.axios.post(uri, this.category).then((response) => {
             this.clearForm();
              Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Kategorija je izmenjena!',
                              showConfirmButton: false,
                              timer: 1500
                            })
             this.sveKategorije();
             });
           }
        },
        editCategory(category){
        this.edit = true;
        this.category.id = category.id;
        this.category.category_id = category.category_id;
        this.category.kategorija = category.kategorija;
        this.category.p_id = category.p_id

        },
        clearForm(){
        this.edit = false;
        this.category.id = null;
        this.category.category_id = null;
        this.category.kategorija = null;
        this.category.p_id = null;
       }

    }
  }</script>
