// IndexComponent.vue

<template>
  <div class="container" id="rout">
      <div>
          <div  v-if="edit">
              <h1>Izmeni Kategoriju:</h1>
          </div>
          <div  v-else>
              <h1>Dodaj Kategoriju:</h1>
          </div>
          <form @submit.prevent="addCategory">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" class="form-control" v-model="category.kategorija">

                      </div>
                      
                  </div>
              </div>
              <br />
              <div class="form-group" v-if="edit">
                  <button class="p-btn">Izmeni</button>
				  <button class="site-btn place-btn" @click.prevent="stopEdit()">Povratak na prethodnu stranu</button>
              </div>
              <div class="form-group" v-else>

                  <button class="p-btn">Kreiraj</button>

              </div>
          </form>
      </div>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Kategorija</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="category in categories" :key="category.id">
                      <td>{{ category.id }}</td>
                      <td>{{ category.kategorija }}</td>
                      <td><button class="p-btn" @click.prevent="editCategory(category)">Edit</button>
                      <button class="p-btn" @click.prevent="deleteCategory(category.id)">Delete</button></td>
                  </tr>
              </tbody>
          </table>
      </div>
</template>

<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    import 'sweetalert2/src/sweetalert2.scss'
  export default {
      data() {
          return {
        //    isLoggedIn : null,
            categories: [],       
          category:{
          id: '',
          kategorija: ''
          },
            category_id: '',
          
          edit: false

        }
        },
        mounted() {
   //           this.isLoggedIn = localStorage.getItem('blog.mdi.in.rs.jwt') != null;
        },
      created() {
          this.sveKategorije();
         
    },
    methods: {
      sveKategorije()  {
        let uri = '/api/categories';

      this.axios.get(uri).then(response => {
        this.categories = response.data.data;
      });
    },
      deleteCategory(id)
      {
        const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Da li ste sigurni ?',
                    text: "Želite da obrišete ovu kategoriju!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Da, obriši je!',
                    cancelButtonText: 'Ne!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
            let uri = `/api/category/delete/${id}`;
            this.axios.delete(uri).then(response => {
              this.clearForm();
                swalWithBootstrapButtons.fire(
                                
                                'Vaša kategorija je obrisana.',
                                'success'
                            )
              this.sveKategorije();

            });
			}
          });
        },
        addCategory(){
            if (this.edit === false) {
              let uri = '/api/category/create';
              this.axios.post(uri, this.category).then((response) => {
              this.clearForm();
               
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Kategorija je dodata!',                           
                            showConfirmButton: false,
                            timer: 1500
                        })
              this.sveKategorije();

            });
           } else {
            // update Category
             let uri = `/api/category/update/${this.category.id}`;
             this.axios.post(uri, this.category).then((response) => {
             this.clearForm();
             Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Naziv kategorije je promenjen!',
                            showConfirmButton: false,
                            timer: 1500
                        })
             this.sveKategorije();
             });
           }
        },
        editCategory(category){
        this.edit = true;
        this.category.id = category.id;
        this.category.category_id = category.category_id;
        this.category.kategorija = category.kategorija;
          
        },
        clearForm(){
        this.edit = false;
        this.category.id = null;
        this.category.category_id = null;
        this.category.kategorija = null;
       }

    }
  }
</script>
