<template>
	<div class="container" id="rout">
	    <div class="main row">
	    <div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
            <a href='/admin/orders'>Orders ({{orders.length}})</a>
        </div>
        <hr>
        <div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
            <a href='/admin/products'>Products ({{products.length}})</a>
        </div>
        <div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
            <a href='/admin/users'>Users ({{users.length}})</a>
        </div>
        <div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
            <a href='/admin/category'>Categories ({{categories.length}})</a>
        </div>
        <div class="col-md-4 product-box d-flex align-content-center justify-content-center flex-wrap big-text">
            <a href='/admin/brands'>Brands ({{brands.length}})</a>
        </div>
		</div>
	</div>
</template>
<style>
	a, a:hover {
		color: #1E4356 !important;
		text-decoration: none;
	}
	.main {
	    margin-top: 50px;
	}
</style>
<script>
	export default {
		data() {
			return {
				user : null,
                orders : [],
                products : [],
                users: [],
                categories: [],
                brands: []
				
			}
		},
		mounted() {
			axios.get('/api/users/').then(response => this.users = response.data)
			
			axios.get('/api/categories/').then(response => {
		this.categories = response.data;
		})
		    axios.get('/api/orders/').then(response => this.orders = response.data)
		
		  axios.get('/api/products/').then(response => {
                  this.products = response.data.product;                 
				  this.brands = response.data.brands;
                  this.categories = response.data.cat;
                 
            })
	
		}   
	
	}
</script>

<style scoped>
	.big-text {
		font-size: 28px;
	}

	.product-box {
		border: 1px solid #cccccc;
		padding: 10px 15px;
		height: 20vh
	}
</style>
