<template>
    <div id="rout">
        <br /><br /><br />
		<div class="row">
		   <div class="col-md-6">
			<h2 class="text-centar">User with orders</h2>
				<table class="table table-responsive table-striped">
					<thead>
						<tr>							
							<td>User</td>                   
							<td>Action</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(order,index) in orders" @key="index">							
							<td v-if="order.orders.length > 0">{{order.firstname}} {{order.firstname}}</td>                   
							<td v-if="order.orders.length > 0"><button class="p-btn" @click="editOrder(order)">Show invoice</button></td>
						 </tr>
					</tbody>
			   </table>
		   </div>
		   <div class="col-md-6" v-if="edit">
		        <h2>Invoice for: </h2>
				<br><hr><br>
				<p>{{order.firstname}} {{order.firstname}}</p>
				<p>{{order.streetaddress}}, {{order.town}} {{order.postcode}}, {{order.country}}</p>
				<p>Phone: {{order.phone}}, Email: {{order.email}}</p>
				<br><hr><br>
				<h2>Items</h2>					
				<table class="table table-responsive table-striped">
					<thead>
						<tr>							
							<td>Item</td>
                            <td>Price</td>							
							<td>Discount Price</td>
							<td>Quantity</td>
							<td>Sum</td>
							<td>Delivered</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in order.orders">							
							<td >{{item.product_id}}</td>                   
							<td >$ {{item.price}}</td>
							<td >$ {{item.discount_price}}</td>
							<td >{{item.quantity}}</td>
							<td v-if="item.discount_price">$ {{item.discount_price*item.quantity}}</td>
							<td v-if="!item.discount_price">$ {{item.price*item.quantity}}</td>
							<td v-if="item.is_delivered == 1">Yes</td>
						 </tr>						  
					</tbody>
			   </table>
			   <br><hr><br>
			   <h2 class="text-center">Total: $ {{total}}</h2>
			   <br><hr><br>
			   
				<button v-if="delivery > 0" class="p-btn" @click.prevent="deliver(order.id)">Deliver</button>
				<h2 v-if="delivery == 0">Delivered</h2>
		   </div>
		</div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
    export default {
        data() {
            return {
			    edit: false,
                orders : [],
				order : {
				  id: '',
				  firstname: '',
				  lastname: '',
				  country: '',
				  streetaddress: '',
				  is_delivered: '',
				  postcode: '',
				  town	: '',
				  phone : '',
				  email: '',
				  orders: [],
				 
				}
            }
        },
        beforeMount(){
           this.start()
        },
		computed: {
		  total () {
			return this.order.orders.reduce( (acc, item) => {
			if(item.is_delivered != 1) {
			  if(item.discount_price) {
			  return acc + (item.discount_price * item.quantity)
			  } else {
			  return acc + (item.price * item.quantity) } } else {
			  return acc + 0
			  }
			}, 0)
		  },
		  delivery() {
		  return this.order.orders.reduce( (acc, item) => {
			if(item.is_delivered != 1) {
			  return acc +1
			 } else {
			  return acc + 0
			  }
			}, 0)
		  }
		  
		},
        methods: {
			start(){
			axios.get('/api/orders/').then(response => this.orders = response.data)
			},
		
		    clear() {
		    this.edit = false;
			this.order.id = null;
		  	this.order.firstname = null;
			this.order.lastname = null;
			this.order.country = null;
			this.order.streetaddress = null;
			this.order.postcode = null;
			this.order.town = null;
			this.order.phone = null;
			this.order.email = null;
			this.order.orders = null;
			},
			
			editOrder(order){
			
			this.edit = true;
			this.order.id = order.id;
			this.order.firstname = order.firstname;
			this.order.lastname = order.lastname;
			this.order.country = order.country;
			this.order.streetaddress = order.streetaddress;
			this.order.postcode = order.postcode;
			this.order.town = order.town;
			this.order.phone = order.phone;
			this.order.email = order.email;
			this.order.orders = order.orders;			
			},
			
            deliver(id) {
                
                axios.patch(`/api/orders/${id}/deliver`).then(response => {
                    this.start();
                    this.clear();
					 Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: 'Items are delivered!',
							  showConfirmButton: false,
							  timer: 1500
							})
                })
            }
        }
    }
</script>
