<template>
    <div class="container" id="rout">
        <br /><br /><br />
        
        <div v-if="edit" ml-2>
            <button class="p-btn" id="show-btn" @click="showModal">Izmeni Proizvod:</button>  
            <button class="p-btn" @click.prevent="clearForm()">Povratak na prethodnu stranu</button>				
        </div>
        <div v-else ml-2>
            <button class="p-btn" id="show-btn" @click="showModal">Dodaj Proizvod</button>  
           		
        </div>
        <br />
        <hr />
        <br />
        <b-modal ref="my-modal" title="" hide-footer hide-header>
            <button v-if="edit" class="p-btn" @click.prevent="clearForm()">Povratak na prethodnu stranu</button>
			<button v-else class="p-btn" @click.prevent="hideModal()">Povratak na prethodnu stranu</button>
            <form @submit.prevent="addProduct" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    <label>Ime proizvoda: </label>
                    <input type="text" class="form-control"  v-model="product.name">
                </div>
                <div class="form-group">
                    <label>Broj jedinica:</label>
                    <input type="text" class="form-control" v-model="product.units">
                </div>
                <div class="form-group">
                    <label>Cena: </label>
                    <input type="text" class="form-control"  v-model="product.price">
                </div>
               <!-- <div class="form-group">
                    <label>Popust u procentima: </label><br />
                    <input type="text"  v-model="product.discount_price"> %
                </div>   -->
                <div class="form-group">
                    <label>Opis proizvoda:</label>
                    <textarea rows="10" cols="30" v-model="product.description" class="form-control" placeholder="Content"></textarea>
                </div>
                <div class="form-group dropbox">

                    <input type="file"
                           @change="fieldChange"
                           accept="image/*"
                           class="input-file" />

                    <p v-if="image_update">
                        Image ready for upload ...
                    </p>
                    <p v-else>
                        Drag your file(s) here to begin<br> or click to browse
                    </p>

                </div>
                <div v-if="edit">
                    <b-img v-if="image_update" v-bind="image_size" :src="image_src+product.image" fluid alt="Responsive image"></b-img>
                    <b-img v-else v-bind="image_size" :src="image_src+product.image" fluid alt="Responsive image"></b-img>

                </div>
                <br>
                 <div class="form-group">
                          <b-form-select v-model="product.category_id"
                                           :options="categories"
                                           value-field="id"
                                           text-field="kategorija"
                                           class="mb-3">
                             <template v-slot:first>
                                 <div v-if="edit">
                                     <div v-for="category in categories">
                                         <div v-if="category.id === product.category_id">
                                            <option :value="category.id">{{category.kategorija}}</option>
                                         </div>
                                     </div>
                                 </div>
                                 <option v-else :value="null" disabled>-- Please select an option --</option>
                             </template>

                        </b-form-select>
                 </div>
              <!--  <div class="form-group">
                    <label>Kategorija:</label>
                    <b-form-select v-model="category_id">
                        <option v-for="categor in categors" v-bind:value="categor.id" v-if="categor.p_id == 0">
                            {{ categor.kategorija }}
                        </option>
                    </b-form-select>
                </div>
                <div class="form-group">
                    <label>Sub Kategorija:</label>
                    <b-form-select v-model="product.category_id">
                        <option v-for="categor in categors" v-bind:value="categor.id" v-if="categor.p_id == category_id">
                            {{ categor.kategorija }}
                        </option>
                    </b-form-select>
                </div>   -->
                <div class="form-group">
                    <label>Brend:</label>
                    <b-form-select v-model="product.brand_id">
					<option v-if="edit" :value="product.brand_id">{{product.brand_id}}</option>
                    <option v-else :value="null" disabled>-- Please select an option --</option>
                        <option v-for="brand in brands" v-bind:value="brand.id">
                            {{ brand.brand }}
                        </option>
                    </b-form-select>
                </div>
				 <div class="form-group">
                    <label>Tag:</label>
                    <b-form-select v-model="product.tag_id">
					    <option v-if="edit" :value="product.tag_id">{{product.tag_id}}</option>
                        <option v-else :value="null" disabled>-- Please select an option --</option>
                        <option v-for="tag in tags" v-bind:value="tag.id">
                            {{ tag.tag }}
                        </option>
                    </b-form-select>
                </div>
				 <div class="form-group">
                            <b-form-select v-model="product.color" class="mb-3">
                                <option v-if="edit" :value="product.color">{{product.size}}</option>
                                <option v-else :value="null" disabled>-- Please select an option --</option>                                
                                <option value="S">S</option>
								<option value="M">M</option>
								<option value="L">L</option>
								<option value="XS">XS</option>                                
                            </b-form-select>
                        </div>
						 <div class="form-group">
                            <b-form-select v-model="product.size" class="mb-3">
                                <option v-if="edit" :value="product.size">{{product.color}}</option>
                                <option v-else :value="null" disabled>-- Please select an option --</option>                              
                                <option value="Black">Black</option>
								<option value="Violet">Violet</option>
								<option value="Blue">Blue</option>
								<option value="Yellow">Yellow</option> 
                                <option value="Red">Red</option>
								<option value="Green">Green</option>								
                            </b-form-select>
                        </div>
                <div class="modal-footer">
                    <slot name="footer">
                        <div class="form-group" v-if="edit">
                            <button class="p-btn">Izmeni</button>
                        </div>
                        <div class="form-group" v-else>

                            <button class="p-btn">Kreiraj</button>

                        </div>
                    </slot>
                </div>
            </form>
            <button v-if="edit" class="p-btn" @click.prevent="clearForm()">Povratak na prethodnu stranu</button>
			<button v-else class="p-btn" @click.prevent="hideModal()">Povratak na prethodnu stranu</button>
        </b-modal>





        <b-row>




            <b-col lg="6" class="my-1">
                <b-form-group label="Filter"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              label-for="filterInput"
                              class="mb-0">
                    <b-input-group size="sm">
                        <b-form-input v-model="filter"
                                      type="search"
                                      id="filterInput"
                                      placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>

            <b-col lg="6" class="my-1">
                <b-form-group label="Filter On"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              description="Leave all unchecked to filter on all data"
                              class="mb-0">
                    <b-form-checkbox-group v-model="filterOn" class="mt-1">
                        <b-form-checkbox value="units">Units</b-form-checkbox>
                        <b-form-checkbox value="price">Price</b-form-checkbox>

                    </b-form-checkbox-group>
                </b-form-group>
            </b-col>

            <b-col sm="5" md="6" class="my-1">
                <b-form-group label="Per page"
                              label-cols-sm="6"
                              label-cols-md="4"
                              label-cols-lg="3"
                              label-align-sm="right"
                              label-size="sm"
                              label-for="perPageSelect"
                              class="mb-0">
                    <b-form-select v-model="perPage"
                                   id="perPageSelect"
                                   size="sm"
                                   :options="pageOptions"></b-form-select>
                </b-form-group>


            </b-col>


        </b-row>

        <b-table show-empty
                 small
                 stacked="md"
                 striped hover
                 :items="products"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 :filterIncludedFields="filterOn"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :sort-direction="sortDirection"
                 @filtered="onFiltered">

            <template v-slot:cell(action)="row">
                <b-col>
                    <button class="p-btn" @click="editProduct(row.item)">Edit</button><br />
                    <!--    <b-button variant="primary" size="sm" @click="editProduct(row.item)" class="ml-3">
                    Edit
                </b-button> -->

                    <button class="p-btn" @click="deleteProduct(row.item.id)">
                        Delete
                    </button>
                </b-col>
            </template>
        </b-table>
        <b-col sm="7" md="6" class="my-1">
            <b-pagination v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          align="fill"
                          size="sm"
                          class="my-0"></b-pagination>

        </b-col>

    </div>
</template>
<style>
    .btn-danger {
        margin-right: 3px !important;
    }

</style>
<script>
    import Modal from './ProductModal'
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    import 'sweetalert2/src/sweetalert2.scss'
  
    export default {
        data() {
            return {
                image_size: { width: 200, height: 200, class: 'm1' },
                image_src: '/uploads/products/',
                image_update: false,
                category_id: '',
                products: [],
                categories: [],
                brands: [],
				tags: [],
                product: {
                    id: '',
                    name: '',
                    description: '',
                    category_id: null,                    
					brand_id: null,
					tag_id: null,
					size: null,
					color: null,
                    units: '',
                    price: '',
                  //  discount_price: '',
                    image: ''
                    


                },
                category: {
                    id: '',
                    kategorija: '',
                   
                },
                tag: { 
                    id: '',
                    tag: ''
                },
				 brand: { 
                    id: '',
                    brand: ''
                },
                editingItem: null,
                addingProduct: null,
                 fields: [
                    { key: 'name', label: 'Name', sortable: true, sortDirection: 'asc'  },
                    { key: 'units', label: 'Units', sortable: true, sortDirection: 'asc' },
                     { key: 'price', label: 'Price', sortable: true, sortDirection: 'asc' },
                   //  { key: 'description', label: 'Description', sortable: true, sortDirection: 'asc' },
                     { key: 'category_id', label: 'Kategorija', sortable: true, sortDirection: 'asc' },
                    { key: 'brand_id', label: 'Brend', sortable: true, sortDirection: 'asc' },
					{ key: 'tag_id', label: 'Brend', sortable: true, sortDirection: 'asc' },
					{ key: 'size', label: 'Size', sortable: true, sortDirection: 'asc' },
					{ key: 'color', label: 'Color', sortable: true, sortDirection: 'asc' },
                    'action'],
                 form: false,
                product_id: '',
                pocetak: true,
                edit: false,
                totalRows: 1,
                currentPage: 1,
                perPage: 5,
                pageOptions: [5, 10, 15],
                sortBy: '',
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                filterOn: [],
            }
        },
        components: {Modal},
        beforeMount() {
          this.start()  
            
        },
		
         filters: {
            truncate: function (content, length, suffix) {
                return content.substring(0, length) + suffix;
            }
        },
        computed: {

          
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return { text: f.label, value: f.key }
                    })
            }
        },
        mounted() {

          
            // Set the initial number of items    
            this.totalRows = this.products.length
           
        },
        methods: {
            start() {
                  axios.get('/api/products/').then(response => {
                  this.products = response.data.product;
                  this.tags = response.data.tags;
				  this.brands = response.data.brands;
                  this.categories = response.data.cat;
                  this.totalRows = this.products.length
            })
            },			
             showModal() {
			this.$refs['my-modal'].show()
		    },
            hideModal() {
			  this.edit = false
			this.$refs['my-modal'].hide()
		   },
		  toggleModal() {
			// We pass the ID of the button that we want to return focus to
			// when the modal has hidden
			this.$refs['my-modal'].toggle('#toggle-btn')
		  },
		   fieldChange(e) {

                let selectedFile = new FileReader();
                   selectedFile.readAsDataURL(e.target.files[0]);
                selectedFile.onload = (e) => {
                    this.product.image = e.target.result;
                    this.image_update = true;
                }
                console.log(this.product.image);
            },
            newProduct() {

                this.addingProduct = {
                    name: null,
                    units: null,
                    price: null,
                    image: null,
                    description: null,
					color: null,
					size: null,
					brand_id: null,
					tag_id: null
                }
            },
            endEditing(product) {
                this.editingItem = null
                this.edit = false
                let index = this.products.indexOf(product)
                let name = product.name
                let units = product.units
                let price = product.price
                let description = product.description

                axios.put(`/api/products/${product.id}`, {name, units, price, description})
                     .then(response => this.products[index] = product)
            },
            addProduct() {
                if (this.edit === false) {
                    this.addingProduct = null

                    let name = this.product.name
                    let units = this.product.units
                    let price = this.product.price
                   // let discount_price = this.product.discount_price
                    let description = this.product.description
                    let image = this.product.image
                    let category_id = this.product.category_id
                    let brand_id = this.product.brand_id
					let tag_id = this.product.tag_id
					let size = this.product.size
					let color = this.product.color

                    axios.post('/api/products/create', { name, units, price, description, image, category_id, brand_id, tag_id, color, size })
                        .then(response => { 
                            this.start();
                            this.clearForm();                           
                            this.totalRows = this.products.length
                            Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Novi proizvod je unet!',
                              showConfirmButton: false,
                              timer: 1500
                            })
                        }) 
                } else {
                     let uri = `/api/products/update/${this.product.id}`;
                    this.axios.post(uri, this.product).then((response)  =>                                
                   {
                         this.start();
                         this.clearForm();
                        
                         Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Podaci o proizvodu su promenjeni!',
                              showConfirmButton: false,
                              timer: 1500
                            })
                        
                    });
                
                }
            },
            editProduct(product) {
               this.edit = true;
                this.showModal()
                this.product.id = product.id
                this.product.name = product.name
                this.product.units = product.units
                this.product.price = product.price
               // this.product.discount_price = product.discount_price
                this.product.image = product.image
                this.product.description = product.description
                this.product.category_id = product.category_id
                this.product.brand_id = product.brand_id
				this.product.tag_id = product.tag_id
				this.product.color = product.color
				this.product.size = product.size
            },
			clearForm() {
			    this.edit = false;
                this.$refs['my-modal'].hide()
                this.product.id = null
                this.product.name = null
                this.product.units = null
                this.product.price = null
              //  this.product.discount_price = null
                this.product.image = null
                this.product.description = null
                this.product.category_id = null
                this.product.brand_id = null
				this.product.tag_id = null
				this.product.color = null
				this.product.size = null
			},

            deleteProduct(id) {
                const swalWithBootstrapButtons = Swal.mixin({
                      customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                      },
                      buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                      title: 'Da li ste sigurni ?',
                      text: "Želite da obrišete ovaj proizvod!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Da, obriši ga!' ,
                      cancelButtonText: 'Ne, otkaži!',
                      reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                       let uri = `/api/products/delete/${id}`;
                            this.axios.delete(uri).then(response => {

                                swalWithBootstrapButtons.fire(
                                    'Obrisan!',
                                    'Vaš proizvod je obrisan.',
                                    'success'
                                )
                                this.start();
                               
                            })
                            }
                         else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                      ) {
                        swalWithBootstrapButtons.fire(
                          'Otkazano',
                          'Vaš proizvod je i dalje u ponudi',
                          'info'
                        )
                      }
                    })
              
             
                }, 
				stopEdit(){
				this.edit = false;
				this.$refs['my-modal'].hide()
				},
           
             onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            }
        }
    }
</script>
