<template>
    <div>
        <!--  <nav class="navbar navbar-default " v-if="!user_type == 1">
    </nav> -->
	
   
      
   
      
    
	   <header class="header-section " >
		 <div class="header-top">
            <div class="container">
                <div class="ht-left"> 
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        veljkoveljkovic.mdi@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +381691567555
                    </div>
                </div>
                <div class="ht-right">
                  <!--  <a href="#" class="login-panel"><i class="fa fa-user"></i>Login</a>  -->
				    <router-link :to="{ name: 'register' }" class="login-panel" v-if="!isLoggedIn" @click.native="toggleNavbar()"><i class="fa fa-user"></i>Register </router-link>
                    <router-link :to="{ name: 'login' }" class="login-panel" v-if="!isLoggedIn" @click.native="toggleNavbar()"><i class="fa fa-user"></i>Login &nbsp;&nbsp;&nbsp;</router-link>
					<div v-if="isLoggedIn" class="top-social">
					 <a class="login-pane"><p> Hi, {{userdata.firstname}}</p></a>
					 <a href="" class="login-pane" v-if="isLoggedIn" @click="logout">Logout</a>						 
					</div>
					
                    <div class="top-social">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a> 
                        <a href=""><i class="fa fa-pinterest"></i></a>
                    </div>
                </div> 
            </div>
        </div>
	      <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="">
                                <img :src="image_s" alt="">
                            </a> 
                        </div>
                    </div> 

                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="cart-icon"><a>
                                    <i class="fa fa-heart-o"></i>                                    
									<span>{{allLikes.length}}</span>
                                </a>
								<div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>
                                                <tr
												v-for="(like,index) in allLikes"										         
									        	@key="index"
												>
                                                    <td class="si-pic"><img :src="image_src+like.image" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$ {{like.price}} x 1</p>
                                                            <h6>{{like.name}}</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close" @click.prevent="like(like)"></i>
                                                    </td>
													<div class="select-button">
                                                       <a href="" class="primary-btn view-card" @click.prevent="Cart(like)">Order</a>                                        
                                                    </div>
                                                </tr>
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                            </li>
                            <li class="cart-icon"><a>
                                    <i class="fa fa-shopping-bag"></i>
                                    <span>{{allCart.length}}</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>
                                                <tr
												v-for="(cart,index) in allCart"										         
									        	@key="index"
												>
                                                    <td class="si-pic"><img :src="image_src+cart.image" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$ {{cart.price}} x 1</p>
                                                            <h6>{{cart.name}}</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5>$ {{total}}</h5>
                                    </div>
                                    <div class="select-button">									    
										<router-link v-bind:to="{name:'shopping-cart'}" class="primary-btn view-card togler">VIEW CARD</router-link>
                                        <router-link v-bind:to="{name:'check-out'}" class="primary-btn checkout-btn togler">CHECK OUT</router-link>
                                    </div>   
                                </div>
                            </li>
                            <li class="cart-price">$ {{total}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		
		    <div class="nav-item nav1">
              <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All departments</span>
                        <ul class="depart-hover"> 
                            <li><a :href="$router.resolve({name:'category', params: {id: cat.id}}).href" v-for="(cat,index) in allCategories"
										  @key="index">{{cat.kategorija}}</a></li> 										  
                        </ul>
                    </div>
                </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
					          <li><a :href="$router.resolve({name:'ecommerce'}).href">Shop</a></li>
                      <!--     <li><router-link :to="{ name: 'ecommerce' }" class="">Shop</router-link></li>
                               <li><a href="">Collection</a>
                            <ul class="dropdown">
                                <li><a href="#">Men's</a></li>
                                <li><a href="#">Women's</a></li>
                                <li><a href="#">Kid's</a></li>
                            </ul>
                                </li>   -->   
                       					
                            <li><router-link :to="{ name: 'contact' }" class="">Contact</router-link></li>
							<li><a href="">Pages</a>
								<ul class="dropdown">
									<li><router-link :to="{ name: 'ecommerce' }" class="">Shop</router-link></li>
									<li><router-link :to="{ name: 'shopping-cart' }" class="">Shopping Cart</router-link></li>
									<li><router-link :to="{ name: 'check-out' }" class="">Checkout</router-link></li>
									<li><router-link :to="{ name: 'login' }" class="">Login</router-link></li>								
									<li><router-link :to="{ name: 'register' }" class="">Register</router-link></li>                                
								</ul>
							</li>
                        </ul>
                    </nav>
               </div>   
           
        </div>
	    
		    <nav class="navbar navbar-dark navbar-expand-md  nav nav-menu text-center" v-bind:class=" { 'navbarOpen': show }" >
                 
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" @click.stop="toggleNavbar()">
                    MENU <span class="navbar-toggler-icon"></span>
                </button>
               
                <div class="collapse navbar-collapse mr-4" id="collapsibleNavbar" v-bind:class="{ 'show': show }">
                    <!--    <div v-if="homePage()">  Na ovaj nacin prikazuje nesto ako nisi na pocetnoj strani -->
                   
                        <ul class="navbar-nav ml-auto mx-auto">
						 <!--    <li>
						    <b-nav-item-dropdown text="Lang" right>
							  <b-dropdown-item class="dropdown"><h5>EN</h5></b-dropdown-item>						 
						    </b-nav-item-dropdown>
						</li>  -->
                            <li class="nav-link"><router-link :to="{ name: 'ecommerce' }" @click.native="toggleNavbar()"><h5>Shop</h5></router-link></li>
                            <li class="nav-link"><router-link :to="{ name: 'shopping-cart' }" @click.native="toggleNavbar()"><h5>Shopping Cart</h5></router-link></li>
                            <li class="nav-link"><router-link :to="{ name: 'check-out' }" @click.native="toggleNavbar()"><h5>Checkout</h5></router-link></li>							
                        </ul> 
 

                   

                        <li class="nav-link"><router-link :to="{ name: 'login' }"  v-if="!isLoggedIn" @click.native="toggleNavbar()"><h5>Login</h5></router-link></li>
                        <li class="nav-link"><router-link :to="{ name: 'register' }" v-if="!isLoggedIn" @click.native="toggleNavbar()"><h5>Register</h5></router-link></li>
                        <li><span v-if="isLoggedIn">
                            <router-link :to="{ name: 'shopping-cart' }"  v-if="user_type == 0" @click.native="toggleNavbar()"><h5> Hi, {{userdata.firstname}}</h5></router-link>                      
                        </span></li>
                        <li class="nav-link" v-if="isLoggedIn" @click="logout"><h5> Logout</h5></li>                   
                </div>           
           </nav>
		  
       
		   </header>
         
        <main class="py-4">
		<router-view @loggedIn="change" v-if="!$route.meta.keepAlive"></router-view>
           <keep-alive>
                <router-view @loggedIn="change" v-if="$route.meta.keepAlive"></router-view>
            </keep-alive>  
			
			
        </main>
    </div>
</template>
<style scope>

   .sticky {
	list-style-type: none;
	position: sticky;
	overflow: hidden;
	top: 82px;
	width: 100%;
	z-index: 9999;
}

   a:hover {
   text-decoration: none;
   cursor: pointer;
   }
 
   @media (min-width: 768px) {
     .nav {
    display: none;
  }
  }

  h5 {
  color: white !important;
  padding-left: 10px;
  }
   p {
  color: black !important;
  padding-left: 10px; 
  }
    .mdi {

     color: #C6D0BA !important;
     }
   .mdi:hover {
	
	color: #C6D0BA !important;
}

</style>
<script>
    import { mapGetters, mapActions} from 'vuex';
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
    export default {
       
        data() {
            return {
			    image_src: '/uploads/products/',
                image_s: "uploads/img/logomdi1.png",
                show: false,
                name: null,
				search:'', 
                user_type: 0,
                isLoggedIn: localStorage.getItem('shop.mdi.in.rs.jwt') != null
            }
        },
		computed: {
		   
			filteredProducts: function () { 
				return this.products.filter((product) => {
					return product.name.toLowerCase().match(this.search)
				})
			},
			...mapGetters(['allLikes', 'allCart', 'userdata', 'allCategories', 'callMessage']),
			total() {
		return this.$store.getters.cardTotal
		    }
			}, 

        mounted() {
            this.setDefaults()
        },
        created() {
		   if (this.$route.name == 'category') {
				this.category(this.$route.params.id);
			}
			 },
        methods: {
		
		 Cart(like) {
			   this.$store.dispatch('Cart', like).then((response) => {
			   setTimeout(()=> {
			       this.onsuccess()
				   
                },1100) 
			
        
			   })},
				onsuccess(){
				
				Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})
			
				},
			category(id) {
			  this.$store.dispatch('category', id);
			},
              homePage() { 
        if(this.$route.path == "/"  ) {
          return false
        } else {
          return true
        } 
      },
       
              toggleNavbar() {
      this.show = !this.show
    },   
            setDefaults() { 
			    if(localStorage.getItem('shop.mdi.in.rs.like') != null) {
			   
			} 
                if (this.isLoggedIn) {
                    let user = JSON.parse(localStorage.getItem('shop.mdi.in.rs.user'))
                    this.name = user.name
                    
                    
                    this.user_type = user.is_admin
                }
            },
            change() {
                this.isLoggedIn = localStorage.getItem('shop.mdi.in.rs.jwt') != null
                this.setDefaults()
            },
            logout(){
                localStorage.removeItem('shop.mdi.in.rs.jwt')
                localStorage.removeItem('shop.mdi.in.rs.user')
                this.change()
                this.$router.push('/')
            }
        }
    }
</script>
