<template>
	<div id="rout">
		<section class="checkout-section spad">
        <div class="container">

            <form @submit.prevent="handleSubmit" class="checkout-form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout-content">
						    <router-link v-bind:to="{name:'login'}" class="content-btn">Click Here To Login</router-link>
                        </div>
                        <h4>Biiling Details</h4>
                        <div class="row">
                            <div class="col-lg-6">
							    <label for="firstname" class="col-form-label text-md-right">First Name<span>*</span></label>
                                   		<input
									name="firstname"
									v-model="userdata.firstname"
									v-validate="'required'"
									class="form-control"
									type="text"

									>
	                               <div class="help-block alert alert-danger"
									v-show="errors.has('firstname')">
									 {{ errors.first('firstname') }}
									</div>
                            </div>
                            <div class="col-lg-6">
                                 <label for="lastname" class="col-form-label text-md-right">Last Name<span>*</span></label>
                                   		<input
									name="lastname"
									v-model="userdata.lastname"
									v-validate="'required'"
									class="form-control"
									type="text"

									>
	                               <div class="help-block alert alert-danger"
									v-show="errors.has('lastname')">
									 {{ errors.first('lastname') }}
									</div>
                            </div>
                            <div class="col-lg-12">
							    <label for="companyname" class="col-form-label text-md-right">Company Name</label>
                                   		<input
									name="companyname"
									v-model="userdata.companyname"
									v-validate="'required'"
									class="form-control"
									type="text"

									>
	                               <div class="help-block alert alert-danger"
									v-show="errors.has('companyname')">
									 {{ errors.first('companyname') }}
									</div>
                            </div>
                            <div class="col-lg-12">
							    <label for="country" class="col-form-label text-md-right">Country<span>*</span></label>
                                   		<input
									name="country"
									v-model="userdata.country"
									v-validate="'required'"
									class="form-control"
									type="text"

									>
	                               <div class="help-block alert alert-danger"
									v-show="errors.has('country')">
									 {{ errors.first('country') }}
									</div>
                            </div>
                            <div class="col-lg-12">
							    <label for="streetaddress" class="col-form-label text-md-right">Street Address<span>*</span></label>
                                   		<input
									name="streetaddress"
									v-model="userdata.streetaddress"
									v-validate="'required'"
									class="form-control"
									type="text"

									>
	                               <div class="help-block alert alert-danger"
									v-show="errors.has('streetaddress')">
									 {{ errors.first('streetaddress') }}
									</div>
                            </div>
                            <div class="col-lg-6">
							    <label for="postcode" class="col-form-label text-md-right">Postcode / ZIP (optional)<span>*</span></label>
                                   		<input
									name="postcode"
									v-model="userdata.postcode"
									v-validate="'required'"
									class="form-control"
									type="text"
									id="zip"
									>
	                               <div class="help-block alert alert-danger"
									v-show="errors.has('postcode')">
									 {{ errors.first('postcode') }}
									</div>

                            </div>
                            <div class="col-lg-6">
							    <label for="town" class="col-form-label text-md-right">Town / City<span>*</span></label>
                                   		<input
									name="town"
									v-model="userdata.town"
									v-validate="'required'"
									class="form-control"
									type="text"
									id="town"
									>
	                               <div class="help-block alert alert-danger"
									v-show="errors.has('town')">
									 {{ errors.first('town') }}
									</div>
                            </div>
                            <div class="col-lg-6">
							    <label for="email" class="col-form-label text-md-right">Email Address<span>*</span></label>
                                   		<input
									name="email"
									v-model="userdata.email"
									v-validate="'required'"
									class="form-control"
									type="text"
									id="email"
									>
	                               <div class="help-block alert alert-danger"
									v-show="errors.has('email')">
									 {{ errors.first('email') }}
									</div>
                            </div>
                            <div class="col-lg-6">
							    <label for="phone" class="col-form-label text-md-right">Phone<span>*</span></label>
                                   		<input
									name="phone"
									v-model="userdata.phone"
									v-validate="'required'"
									class="form-control"
									type="text"
									id="phone"
									>
	                               <div class="help-block alert alert-danger"
									v-show="errors.has('phone')">
									 {{ errors.first('phone') }}
                                </div>
                            </div>
                            <div class="col-lg-12" v-if="!regy && userdata.length == 0">
                                <div class="create-item">
                                    <label for="acc-create">
                                        Create an account?
                                        <input @click="reg" type="checkbox" id="acc-create">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
							<div v-if="regy" class="row">
							<div class="col-lg-6">
							    <label for="password" class="col-form-label text-md-right">Password<span>*</span></label>
                                   		<input
									name="password"
									v-model.trim="password"
									v-validate="'min:6'"
									ref="password"
									class="form-control"
									type="password" />
									<div class="help-block alert alert-danger"
									v-show="errors.has('password')">
									 {{ errors.first('password') }}
									</div>

                            </div>
							<div class="col-lg-6">
							    <label for="password-confirm" class="col-form-label text-md-right">Confirm Password<span>*</span></label>
                                   		<input
									name="password_confirmation"
									v-model.trim="password_confirmation"
									v-validate="'min:6|confirmed:password'"
									data-vv-as="password"
									class="form-control"
									type="password" />
									<div class="help-block alert alert-danger"
									v-show="errors.has('password_confirmation')">
									 {{ errors.first('password_confirmation') }}
									</div>

                            </div>
							<button type="submit" class="site-btn place-btn" @click="cancelreg">Cancel registration</button>
							</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form @submit.prevent="couponcheck">
                            <input
							type="text"
							v-model.trim="allCoupons.coupongenerator"
							v-validate="'min:6'"
							placeholder="Enter Your Coupon Code">
							<button type="submit" class="site-btn place-btn">Place Coupon</button>
                        </form>
						<br>
                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    <li>Product <span>Total</span></li>
                                    <li
										class="fw-normal"
										v-for="(product,index) in allCart"
										v-model="userdata.product"
										@key="index">
										 {{product.name}} x {{product.quantity}} <span v-bind:class = "(allCoupons!=0)?'proba':''"> ${{product.price*product.quantity}}</span>
										 &nbsp; <span v-if="allCoupons!=0">
										      ${{product.discount_price*product.quantity}}
										 </span>

									</li>
                                    <li class="fw-normal">Subtotal <span>${{total}}</span></li>
                                    <li class="total-price">Total <span>${{total}}</span></li>
                                </ul>
                              <!--  <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-check">
                                            Cheque Payment
                                            <input type="checkbox" id="pc-check">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Paypal
                                            <input type="checkbox" id="pc-paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>  -->
                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
	</div>
</template>

<style scoped>
  .proba {
     color: #E7AB3C;
	 text-decoration: line-through;
	 text-decoration-color: black;
	 text-decoration-style: double;
  }
</style>
<script>
    import { mapGetters, mapActions } from "vuex";
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
	export default {

		data(){
			return {
                coupon: '',
                regy: false,
								image_src: '/uploads/products/',
								firstname: "",
								lastname : "",
								companyname: "",
								country: "",
								streetaddress: "",
								postcode: "",
								town: "",
                email : "",
								phone: "",
                password : "",
                password_confirmation : "",
								product: [],
								error: "",
		      		}
		    },
	computed: {
		...mapGetters(['allCart', 'allCoupons', 'allTags', 'userdata', 'callMessage']),
		total() {
		return this.$store.getters.cardTotal
		}

		},
		methods: {
			...mapActions(["cart", "deleteCart"]),

			 User(user) {
			   this.$store.dispatch('User', user);
			},
		    swall(){
				   setTimeout(()=> {
				      Swal.fire({

							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})
			        },1100)
				},
			couponcheck(){
			 if(!this.userdata.firstname) {
			     this.$store.state.message = "You are not logged in"
			     this.swall();
			 } else {
			 let uri = '/api/check'
		     let id = this.userdata.id
			 let coupon = this.allCoupons.coupongenerator
			axios.post(uri, {id, coupon},  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
                    if(response.data.coupon != null){
						this.$store.dispatch('couponData', response.data.coupon);
						this.$store.dispatch('discountCart', response.data.coupon);
						this.$store.state.message = "The coupon is valid";
						this.swall();
					 } else {
					    this.$store.state.message = "Make sure you enter the correct coupon code";
					    this.swall();
			                }
					})

			     }
			},

			reg() {
			this.regy = true;
			},
			cancelreg() {
			this.regy = false;
			},
			register() {
				if (localStorage.getItem('shop.mdi.in.rs.jwt') == null) {
					this.$emit('loggedIn')
					this.$router.push({ name: 'register', params: { nextUrl: this.$route.fullPath } })
				}
			},
			addUser(user) {
			   this.$store.dispatch('addUser', user);

			},
			handleSubmit() {

            this.$validator.validateAll().then((result) => {
			    if (!result) {
							this.error = "Proverite da li ste uneli validne podatke!";
							return;
						   }
							let id = this.userdata.id
						  let firstname = this.userdata.firstname
							let lastname = this.userdata.lastname
              let companyname = this.userdata.companyname
							let country = this.userdata.country
							let streetaddress = this.userdata.streetaddress
							let postcode = this.userdata.postcode
							let town = this.userdata.town
							let email = this.userdata.email
							let phone = this.userdata.phone
							if(this.password) { let password = this.password }
              else {let password = 0}
							let product = this.allCart
							let coupon = this.allCoupons.coupons_id

            axios.post('api/order', {id, firstname, lastname, companyname, country, streetaddress, postcode, town, email, phone, product, password, coupon}, {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}}).then(response => {
                   // let user = response.data.user
					// this.User(user)
                    this.deleteCart()
					this.$router.push('/confirmation')
                })
				})


		}
	}
	}
</script>
