<template>
	<div id="rout">
	    <div v-if="loading"></div>		
		<div class="map spad">
        <div class="container">
            <div class="map-inner">
                <div class="mapouter">
				<div class="gmap_canvas">
					<iframe width="1080" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Bra%C4%87e%20Jerkovi%C4%87%20100&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
					<a href="https://www.home.mdi.in.rs">MDI</a>
				</div>				
				</div>
            </div>
        </div>
    </div>
    <!-- Map Section Begin -->

    <!-- Contact Section Begin -->
	<div>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>Contacts Us</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, maki years old.</p>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                               <i class="fa fa-map-marker"></i> 
                            </div>
                            <div class="ci-text">
                                <span>Address:</span>
                                <p>Braće Jerković 100/15, Beograd</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <span>Phone:</span>
                                <p>+381691567555</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="far fa-envelope fa-1x"></i>
                            </div>
                            <div class="ci-text">
                                <span>Email:</span>
                                <p>veljkoveljkovic.mdi@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form">
					    <div class="alert-danger r text-center" v-if="error">
							<h3>{{error}}</h3>
						</div>
                        <div class="leave-comment">
                            <h4>Leave A Comment</h4>
                            <p>Our staff will call back later and answer your questions.</p>
                            <form @submit.prevent="Comment" class="comment-form" novalidate>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input name="name" v-validate="'required'" type="text" class="form-control" placeholder="Your Name" v-model="comment.name">
                                    </div>
                                    <div class="col-lg-6">
                                       <input name="email"
												   placeholder="Your Email"
												   v-model="comment.email"
												   v-validate="'email'"
												   class="form-control"
												   type="text">
											<div class="help-block alert alert-danger"
												 v-show="errors.has('email')">
												{{ errors.first('email') }}
											</div>
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea name="comment" v-validate="'required'" class="form-control" placeholder="Your message" v-model="comment.body"></textarea>
                                        <button type="submit" class="site-btn">Send message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
	</div>
	</div> 
</template>

<script>
    import Loading from 'vue-loading-overlay';
	// Import stylesheet
	import 'vue-loading-overlay/dist/vue-loading.css';
    import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
	export default {
		data() {
			return {
			comment: {
					name: '',
					email: '',					
					body: ''
				},
				loading: true,
				error: ''
			}
			},
			created() {			
			 setTimeout(() => {
			this.loading = false;
			},2000);			
		},
			methods: {
            Comment() {
				this.$validator.validateAll().then((result) => {
					if (!result) {
						this.error = "Molimo Vas unesite ispravne podatke!";
						return;
					}
					let uri = '/api/contact/create';					
					let name = this.comment.name
					let email = this.comment.email					
					let body = this.comment.body
					this.axios.post(uri, { name, email, body }, {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then((response) => {
						
						this.clearForm();
						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Komentar je uspešno poslat! Bice objavljen nakon što ga pregleda administrator.',
							showConfirmButton: false,							
							timer: 1500
						})
						
					//	this.Post();
					})
				});
				
			   },
			   clearForm() {			
			this.comment.name = null;
			this.comment.email = null;			
			this.comment.body = null;
			this.error = null;
	     	   }
			}
	    }
</script>