<template>
	<div id="rout">
	   <div class="inner-header">
			<div class="offset-lg-3 col-lg-6 col-md-6 offset-lg-3">  
				<div class="advanced-search">
					<button type="button" class="category-btn">All Categories</button>
				</b-input-group> 
				<form action="" class="input-group"> 
					 <input type="search" v-model="find" placeholder="What do you need?">                                
					 <button type="button"  @click="search=find"><i class="fa fa-search fa-1x"></i></button>
				</form> 
				</div>
			</div> 
		</div>					
	   <div>
		   <loading :active.sync="isLoading"
					:can-cancel="true"
					:on-cancel="onCancel"
					:is-full-page="fullPage"></loading>
		   
			   <section class="product-shop spad">
				   <div class="container">

					   <div class="row">
						   <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
						   
						   <br><br>
							   <form @submit.prevent="AdvanceSearch()" novalidate>
								   <div class="filter-widget">
									   <h4 class="fw-title">Categories</h4>			  
									  <div v-for="cat in allCategories"
										  v-model="kategorija">
										  
                                      <input type="radio" :id="cat.kategorija" name="kategorija" :value="cat.id" v-model="kategorija" hidden>
                                      <label :for="cat.kategorija">{{cat.kategorija}}</label><br>
									  </div>  
																   
								   </div>
								   <div class="filter-widget">
									   <h4 class="fw-title">Brand</h4>
									   <div class="fw-brand-check">
										   <div class="bc-item ">
											   
												   <b-form-checkbox-group v-model="brend"
																		  stacked
																		  :options="allBrands"
																		  type="checkbox"
																		  value-field="id"
																		  text-field="brand"
																		  name="brend"
																		  disabled-field="notEnabled"></b-form-checkbox-group>
											   
										   </div>
										
									   </div>
								   </div>
								   <div class="filter-widget">
									   <h4 class="fw-title">Price</h4>
									   <div class="filter-range-wrap">
										   <div class="range-slider">
											   <div class="price-input">
												   <input type="text" id="minamount" name="min_price" v-model="min_price">
												   <input type="text" id="maxamount" name="max_price" v-model="max_price">
											   </div>
										   </div>
										   <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
												data-min="33" data-max="98">
											   <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
											   <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
											   <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
										   </div>
									   </div>
								   </div>
								   <div class="filter-widget">    
									   <div class="fw-color-choose">
										   <div class="cs-item">
											   <input type="radio" id="cs-black" value="Black" v-model="boja">
											   <label class="cs-black" for="cs-black">Black</label>
										   </div>
										   <div class="cs-item">
											   <input type="radio" id="cs-violet" value="Violet" v-model="boja">
											   <label class="cs-violet" for="cs-violet">Violet</label>
										   </div>
										   <div class="cs-item">
											   <input type="radio" id="cs-blue" value="Blue"  v-model="boja">
											   <label class="cs-blue" for="cs-blue">Blue</label>
										   </div>
										   <div class="cs-item">
											   <input type="radio" id="cs-yellow" value="Yellow" v-model="boja">
											   <label class="cs-yellow" for="cs-yellow">Yellow</label>
										   </div>
										   <div class="cs-item">
											   <input type="radio" id="cs-red" value="Red" v-model="boja">
											   <label class="cs-red" for="cs-red">Red</label>
										   </div>
										   <div class="cs-item">
											   <input type="radio" id="cs-green" value="Green" v-model="boja">
											   <label class="cs-green" for="cs-green">Green</label>
										   </div>
									   </div>
								   </div>
								   <div class="filter-widget">
									   <h4 class="fw-title">Size</h4>
									   <div class="fw-size-choose">
										   <div class="sc-item">
											   <input type="radio" id="s-size" value="S" v-model="size">
											   <label for="s-size">s</label>
										   </div>
										   <div class="sc-item">
											   <input type="radio" id="m-size" value="M"  v-model="size">
											   <label for="m-size">m</label>
										   </div>
										   <div class="sc-item">
											   <input type="radio" id="l-size" value="L"  v-model="size">
											   <label for="l-size">l</label>
										   </div>
										   <div class="sc-item">
											   <input type="radio" id="xs-size" value="XS"  v-model="size">
											   <label for="xs-size">xs</label>
										   </div>
									   </div>
								   </div>
								   <div class="filter-widget">
									   <button class="filter-btn" type="submit">Filter</button>
									   <button class="filter-btn" @click.prevent="resetfilter" type="button">Reset Filter</button>
								   </div>
							   </form>  
                              						   
							   <div class="filter-widget">
								   <h4 class="fw-title">Tags</h4>
								   <div class="fw-tags">
									   <a :href="$router.resolve({name:'tag', params: {id: tag.id}}).href" v-for="(tag,index) in allTags"
										  @key="index">{{tag.tag}}</a>
								   </div>
							   </div>							  
						   </div>
						   <div class="col-lg-9 order-1 order-lg-2">
							   <!--<div class="product-show-option">
									<div class="row">
										<div class="col-lg-7 col-md-7">
											<div class="select-option">
												<select class="sorting">
													<option value="">Default Sorting</option>
												</select>
												<select class="p-show">
													<option value="">Show:</option>
												</select>
											</div>
										</div>
										<div class="col-lg-5 col-md-5 text-right">
											<p>Show 01- 09 Of 36 Product</p>
										</div>
									</div>
								</div> -->
							   <div class="product-list">
								   <div class="row">
								   
									   <div  class="col-lg-4 col-sm-6" v-for="(product,index) in pageOfItems"
											@key="index">
										   <div class="product-item">
											   <div class="pi-pic">
												   <img :src="image_src+product.image" alt="">
												   <div class="sale pp-sale" v-for="(tag,index) in allTags"
										  @key="index">
										           <span v-if="tag.id==product.tag_id">{{tag.tag}}</span>
												   </div>
												   <div class="icon">
													   <i class="fa fa-heart-o" @click="like(product)"></i>
												   </div>
												   <ul>
													   <li class="w-icon active"><a ><i class="fa fa-shopping-bag" @click.prevent="cart(product)"></i></a></li>
													   <li class="quick-view">
														   <router-link v-bind:to="{name:'single-products', params: {id: product.id}}">+ Quick View</router-link>
													   </li>
													   <li class="w-icon"><a href=""><i class="fa fa-random"></i></a></li>
												   </ul>
											   </div>
											   <div class="pi-text">
												   <div class="catagory-name"
												   v-for="(category,index) in allCategories"
										           @key="index"> 
												   <span v-if="category.id==product.category_id">{{category.kategorija}}</span>
												   </div>
												   <h4><span>{{product.name}}</span></h4>
												   <div class="product-price">
													   {{product.price}}
													  <!-- <span>$35.00</span>  -->
												   </div>
											   </div>
										   </div>

                                        
									   </div>
								   </div>
							   </div>
						   </div>
				   </div>
			   </div>		
			</section>
		
		  </div>		
		  <div class="card-footer pb-0 pt-3 d-flex justify-content-center">
			  <jw-pagination :items="filteredProducts" @changePage="onChangePage"></jw-pagination>
		  </div>
 </div>
</template>
<style scoped>
  i { cursor: pointer;}
 	input[type="checkbox"]:focus {
   outline: none !important;
	border-color: #ED502E !important;
	box-shadow: 0 0 5px #ED502E !important;
}
     input[type="radio"]:checked+label{  color: #E7AB3C !important;} 
    
	 .na {
		background-color: #FC611F !important;
		height: auto;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	 .naa {
		background-color: lightgray;
		height: auto;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.nav-link:hover {
		color:black !important;
	}
	 .box{
		 position: relative;
	 }
   
	 .box {
	position: relative;
}

.na {
	background-color: #FC611F !important;
}

.sticky {
	list-style-type: none;
	position: sticky;
	overflow: hidden;
	top: 82px;
	width: 100%;
	z-index: 9999;
}   
	 .s {
		text-decoration: none !important;
	}
	.small-text {
		font-size: 14px;
	}
	
	input[type=checkbox]:checked:after {
    background-color: #E7AB3C;
	
    }
	
	
    a:hover {background-color: #E7AB3C;}
	.product-box {
		border: 1px solid #cccccc;
		padding: 10px 15px;
	}

	.hero-section {
		height: 30vh;
		background: #ababab;
		align-items: center;
		margin-bottom: 20px;
		margin-top: -20px;
	}

	.title {
		font-size: 60px;
		color: #ffffff;
	}
</style>
<script>
    import { mapGetters, mapActions } from "vuex";
	import Loading from 'vue-loading-overlay';
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
	// Import stylesheet
	import 'vue-loading-overlay/dist/vue-loading.css';
	const filteredProducts = [...Array(150).keys()].map(i => ({ id: (i+1), name: 'Item ' + (i+1) }));
	
	export default {
		
		props: {
	
		},
		data() {
		
			return {
			    likes: {},
				pretraga: '',
				pager: {},
				isLoading: false,				
				fullPage: true,
				isActive: false,
				image_size: { width: 200, height: 200, class: 'm1' },
				image_src: '/uploads/products/',
							
				category_id: '',
				products: [],
				categories: [],				
				search:'',
				boja:'',
				velicina:'',
				product: {
					id: '',
					name: '',
					description: '',
					categor_id: '',
					supplier_id: '',
					units: '',
					price: '',
					discount_price: '',
					image: ''



				},
			/*	category: {
					id: '',
					kategorija: '',
					
				}, */
				brands: [],
				brand: {
					id: '',
					brand: '',
					
				},
					tags: {
					id: '',
					tag: '',
					
				},
				pageOfItems: [],
				product_id: '',
				find: '',
				kategorija: '',
				brend: [],
				min_price: '',
				max_price: '',
				size: '',
				boja: ''
				
			}
		},
		
		created() {
		 if (this.$route.name == 'category') {
				this.category(this.$route.params.id);
				this.search = '';
			}
		  if (this.$route.name == 'tag') {
				this.tagovi(this.$route.params.id);
				this.search = ''; 
			} 
			
			else if (this.$route.path === '/') {
				
				 this.start();
				
			}   
			
           //  this.allCategory();
			// this.clearForm();

		},
		computed: {
		   
			filteredProducts: function () {
			     if(this.search) {
				this.notfilteredproducts() }
				return this.allProducts.filter((product) => {
									
						return product.name.toLowerCase().match(this.search.toLowerCase())															
				})
			
			},
			...mapGetters(['allCategories', 'allTags', 'allBrands', 'allProducts', 'callMessage'])
		
			
		},
		mounted() {


			// Set the initial number of items
			
			

		},
		components: {
			Loading
		},
		
		methods: {
		   ...mapActions(["start", "tagovi", "category", "notfilteredproducts"]),
		    like(product) {
			   this.$store.dispatch('addLike', product).then((response) => {
			   setTimeout(()=> {
			       this.onsuccess()
				   
                },1100) 
			
        
			   })},
			   resetfilter() {
			     this.min_price = '',
				 this.max_price = '',
				 this.size = '',
				 this.brend = [],
				 this.kategorija = ''
				 this.boja = ''
			     this.start();
			   },
			 cart(product) {
			   this.$store.dispatch('addCart', product).then((response) => {
			   setTimeout(()=> {
			       this.onsuccess()
				   
                },1100) 
			
        
			   })},
				onsuccess(){
				
				Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})
			
				},
			  
			AdvanceSearch() {
			     let min_price = this.min_price
				 let max_price = this.max_price
				 let size = this.size
				 let brend = this.brend[0]
				 let category = this.kategorija
				 let color = this.boja
				 let uri = '/api/filter';
			
			axios.post(uri, {brend, category, min_price, max_price, size, color},  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => { 
					this.search = '';
					 this.advancedfilter = true;
					 let products = response.data.product
					this.$store.dispatch('filter', products);
					})
			},
	 
		/*	start() {
					let uri = '/api';
			
			axios.get(uri,  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
				this.products = response.data.product
				this.categories = response.data.cat
				this.brands = response.data.brands
				this.tags = response.data.tags
				this.basicProducts = this.products
				
						
						
			})
			}, 
			tagovi() {
			
				let uri = '/api/tag/'+this.$route.params.id;
			this.axios.get(uri,  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
						this.isLoading = false
						this.products = response.data.product
						this.categories = response.data.cat
						this.brands = response.data.brands
						this.tags = response.data.tags
						this.basicProducts = this.products
						
						 });	
						
	   
		   
			}, */
			onChangePage(pageOfItems) {
				// update page of items
				this.pageOfItems = pageOfItems;
			},
			fieldChange(e) {

				let selectedFile = new FileReader();
				selectedFile.readAsDataURL(e.target.files[0]);
				selectedFile.onload = (e) => {
					this.product.image = e.target.result;
					this.image_update = true;
				}
				console.log(this.product.image);
			},



			onCancel() {
				console.log('User cancelled the loader.')
			}
		  }
		}
	
</script>
