<template>
	<div>
		<section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th class="p-name">Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th><i class="ti-close"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(product,index) in allCart"
											@key="index">
                                    <td class="cart-pic first-row"><img :src="image_src+product.image" alt=""></td>
                                    <td class="cart-title first-row">
                                        <p class="title ml-3" v-html="product.name"></p>
                                    </td>
                                    <td class="p-price first-row"><span v-bind:class = "(allCoupons!=0)?'proba':''"> ${{product.price}}</span> 
										 &nbsp; <span v-if="allCoupons!=0">										 
										      ${{product.discount_price}}
										 </span></td>
                                    <td class="qua-col first-row">
                                        <div class="quantity">
                                            <div class="pro-qty">											    
                                                <input type="text" v-model="product.quantity" v-on:keyup="quantity(product)">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="total-price first-row"><span v-bind:class = "(allCoupons!=0)?'proba':''"> ${{product.price*product.quantity}}</span> 
										 &nbsp; <span v-if="allCoupons!=0">										 
										      ${{product.discount_price*product.quantity}}
										 </span></td>
                                    <td class="close-td first-row"><i class="ti-close" @click.prevent="remove(product)">X</i></td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">
						    	<router-link v-bind:to="{name:'ecommerce'}" class="primary-btn continue-shop">Continue shopping</router-link>                                                            
                            </div>
                            <div class="discount-coupon" >
                                <h6>Discount Codes</h6>
								 <form @submit.prevent="couponcheck" class="coupon-form"> 
									<input
									type="text"
									v-model.trim="allCoupons.coupongenerator"
									v-validate="'min:6'"
									placeholder="Enter Your Coupon Code">
									<button type="submit" class="site-btn coupon-btn">Apply</button>
								</form>	                               
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <div class="proceed-checkout">
                                <ul>
                                    <li class="subtotal">Subtotal <span>${{total}}</span></li>
                                    <li class="cart-total">Total <span>${{total}}</span></li>
                                </ul>
								<router-link v-bind:to="{name:'check-out'}" class="proceed-btn">PROCEED TO CHECK OUT</router-link>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	</div>
</template>

<style>
	.proba {
     color: #E7AB3C;
	 text-decoration: line-through;
	 text-decoration-color: black;
	 text-decoration-style: double;
  }
</style>
<script>
    import { mapGetters, mapActions } from "vuex";
	import Swal from 'sweetalert2/dist/sweetalert2.js'
    import 'sweetalert2/src/sweetalert2.scss'
	export default {
		data() {
			return {
			    image_src: '/uploads/products/',
				
			}
		},
		beforeMount() {
		
		},
		computed: {
		...mapGetters(['allCart', 'allCoupons', 'userdata', 'callMessage']),
		prob() { return 100},
		total() {
		return this.$store.getters.cardTotal
		}
		},
		created() {
		// cart();
		},
		methods: {
		 ...mapActions(["cart"]),
		 swall(){
				   setTimeout(()=> {
				      Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})
			        },1100) 
				},
		 quantity(product) {
			   this.$store.dispatch('changeQuantity', product);
			   this.swall();
			},
			couponcheck(){
			 if(!this.userdata>0) {
			     this.$store.state.message = "You are not logged in"
			     this.swall();
			 } else {
			 let uri = '/api/check'			 
		     let id = this.userdata.id
			 let coupon = this.allCoupons.coupongenerator
			 axios.post(uri, {id, coupon},  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
                    if(response.data.coupon != null){
						this.$store.dispatch('couponData', response.data.coupon);
						this.$store.dispatch('discountCart', response.data.coupon);
						this.$store.state.message = "The coupon is valid";
						this.swall();													
					 } else {
					    this.$store.state.message = "Make sure you enter the correct coupon code";
					    this.swall();
			                } 
					})		
			     }	
			},
			remove(product) {
			   this.$store.dispatch('remove', product);
			   this.swall();
			}
		 
		}
	}
</script>
