<template>
	<div class="container" id="rout">
	<section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                  					  
						   </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-pic-zoom">
                                <img class="product-big-img" :src="image_src+product.image"  alt="">
								<br><br>
                                <div v-html="product.description"></div>
									
                            </div>                          
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details">
                                <div class="pd-title">
                                    <div v-for="(category,index) in allCategories"
								 @key="index"> 
									<span v-if="category.id==product.category_id">{{category.kategorija}}</span>
								</div>
                                    <h3>{{product.name}}</h3>
                                    <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                                </div>
                                <div class="pd-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span>(5)</span>
                                </div>
                                <div class="pd-desc">
                                    <p></p>
									
                                    <h4>$ {{product.price}}</h4>
                                </div>
                                <div>
								<h4>Stock</h4>
								<h6>{{product.units}} units available</h6>
								<br>
								</div>
                                <div class="quantity">                                    
                                            <div class="pro-qty">											    
                                                <input type="text" v-model="product.quantity"">
                                            </div>                                     
                                    <button v-if="!alreadyInCart" class="primary-btn pd-cart"  @click.prevent="cart(product)">Add To Cart</button>  
									<button v-else class="primary-btn pd-cart"  @click.prevent="quantity(product)">Update Cart</button> 
                                </div>
                                <div class="float-right">
								     <button v-if="alreadyInCart" @click.prevent="remove(product)" type="button" class="site-btn place-btn">Remove from Cart</button>
								</div>											
                                <ul class="pd-tags">
                                    <li><span>CATEGORY</span>: <div v-for="(cat,index) in allCategories"
										  @key="index">
								<p v-if="cat.id==product.category_id">{{cat.kategorija}}</p>
							 </div></li>
                                    <li><span>TAGS</span>: <div v-for="(tag,index) in allTags"
										  @key="index">
								<p v-if="tag.id==product.tag_id">{{tag.tag}}</p>
							 </div></li>
                                </ul>
                                <div class="pd-share">
                                    <div class="p-code">Sku : 00012</div>
                                    <div class="pd-social">
                                        <a href="#"><i class="ti-facebook"></i></a>
                                        <a href="#"><i class="ti-twitter-alt"></i></a>
                                        <a href="#"><i class="ti-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-tab">
                        <div class="tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-3" role="tab">Customer Reviews (02)</a>
                                </li>
                            </ul>
                        </div>                        
                               <div class="row">
                                     <div class="col-lg-7">
                                         <h5>Introduction</h5>
                                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                               ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                               aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                          <h5>Features</h5>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                            </div>
                                       <div class="col-lg-5">
                                              
                                 </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

    <!-- Related Products Section End -->
    <div class="related-products spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Recent Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6"
				v-for="product in computedObj">
                    <div class="product-item">
						 <div class="pi-pic">
							 <img :src="image_src+product.image" alt="">
							 <div class="sale pp-sale" v-for="(tag,index) in allTags"
										  @key="index">
								<span v-if="tag.id==product.tag_id">{{tag.tag}}</span>
							 </div>
							<div class="icon">
								<i class="fa fa-heart-o" @click="like(product)"></i>
							  </div>
								<ul>
									<li class="w-icon active"><a ><i class="fa fa-shopping-bag" @click.prevent="cart(product)"></i></a></li>
									<li class="quick-view">
										   
										   <a :href="$router.resolve({name:'single-products', params: {id: product.id}}).href" v>+ Quick View</a>
									</li>
									<li class="w-icon"><a href=""><i class="fa fa-random"></i></a></li>
								</ul>
							</div>
							<div class="pi-text">
								<div class="catagory-name"
								v-for="(category,index) in allCategories"
								 @key="index"> 
									<span v-if="category.id==product.category_id">{{category.kategorija}}</span>
								</div>
								<h4><span>{{product.name}}</span></h4>
								<div class="product-price">
									  {{product.price}}
								 <!-- <span>$35.00</span>  -->
							 </div>
					 </div>
                </div>
               
               
            </div>
        </div>
    </div>
	
	     </div>
	</div>
</template>

<script>
     import { mapGetters, mapActions } from "vuex";	 
     import Swal from 'sweetalert2/dist/sweetalert2.js'
  	 import 'sweetalert2/src/sweetalert2.scss'
	export default {
	 
		data() {
			return {
			    limit: 4,
				product: {
				    id: '',
					quantity: '',
					name: '',
					description: '',
					categor_id: '',
					supplier_id: '',
					units: '',
					price: '',
					discount_price: '',
					image: ''
				},				
				image_src: '/uploads/products/',
				product1: 'uploads/img/product-single/product-1.jpg',
				product2: 'uploads/img/product-single/product-2.jpg',
				product3: 'uploads/img/product-single/product-3.jpg',
				likes: {},
                pretraga: '',								
				isActive: false,
				image_size: { width: 200, height: 200, class: 'm1' },				
				category_id: '',
				products: [],
				categories: [],				
				search:'',
				boja:'',
				velicina:'',				
				brands: [],
				brand: {
					id: '',
					brand: '',					
				},
					tags: {
					id: '',
					tag: '',					
				},
				product_id: '',
				find: '',
				kategorija: '',
				brend: [],
				min_price: '',
				max_price: '',
				size: '',
				boja: ''
			}
		},
		computed: {
		...mapGetters(['allCategories', 'allTags', 'allBrands', 'allProducts', 'callMessage', 'allCoupons', 'alreadyInCart']),
		 computedObj(){
			return this.limit ? this.allProducts.slice(0,this.limit) : this.allProducts
		  }
	
		},
		beforeMount() {
            
			let uri = `/api/products/${this.$route.params.id}`
			axios.get(uri,  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then((response) => {
					this.product = response.data; 
					
					this.check(this.product); })
		},
	
		methods: {
		 ...mapActions(["start", "tagovi", "category", "notfilteredproducts"]),
		    like(product) {
			   this.$store.dispatch('addLike', product).then((response) => {
			         return this.$store.getters.alreadyInCart
			      })
			   },
			   check(product) {
			      this.$store.dispatch('alreadyInCart', product).then((response) => {
			          this.inCart;
			      })
			   },
		   
		     quantity(product) {
			    this.$store.dispatch('changeQuantity', product).then((response) => {			   
				   this.swall();				               			        
			         })
			},
			 remove(product) {
			   this.$store.dispatch('remove', product);
			   this.swall();
			   setTimeout(()=> { this.check(this.product) },1200) 
			         
			},
			 cart(product) {
			   if(product.quantity>product.units) {
				   this.$store.state.message = "Only available "+product.units+" units";
				   this.swall();
				   } else {				   
				   this.$store.dispatch('addCart', product).then((response) => {                   				   
				   this.swall();	
				   setTimeout(()=> { this.check(this.product) },1200) 
			         })
			      }
			   },
				swall(){
				   setTimeout(()=> {
				      Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})
			        },1100) 
				},
			  
			AdvanceSearch() {
			     let min_price = this.min_price
				 let max_price = this.max_price
				 let size = this.size
				 let brend = this.brend[0]
				 let category = this.kategorija
				 let color = this.boja
				 let uri = '/api/filter';
			
			axios.post(uri, {brend, category, min_price, max_price, size, color},  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => { 
					 this.advancedfilter = true;
					 let products = response.data.product
					this.$store.dispatch('filter', products);
					})
			}
	 
		

		}
	}
</script>

<style scoped>
	.small-text {
		font-size: 18px;
	}

	.title {
		font-size: 36px;
	}
</style>
