<template>
	<div id="rout">
	<header class="header-section " v-if="user_type == 1">
	  <div class="nav-item nav1">                 
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="nav-link"><a @click="setComponent('main')">Dashboard</a></li>
						<li class="nav-link"><a  @click="setComponent('orders')">Orders</a></li>
						<li class="nav-link"><a @click="setComponent('products')">Products</a></li>
						<li class="nav-link"><a @click="setComponent('users')">Users</a></li>
						<li class="nav-link"><a @click="setComponent('category')">Category</a></li>
						<li class="nav-link"><a @click="setComponent('brand')">Brands</a></li>
						<li class="nav-link"><a @click="setComponent('tag')">Tags</a></li>
						<li class="nav-link"><a @click="setComponent('coupons')">Coupons</a></li>
						<li class="nav-link"><a href=""> Hi, {{userdata.firstname}}</a></li>
					    <li class="nav-link" @click="logout"><a href=""> Logout</a></li>
                    </ul>					
                </nav>               
           
		</div> 

		<nav class="navbar navbar-dark navbar-expand-md  nav nav-menu text-center" v-bind:class=" { 'navbarOpen': show }" >
                 
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" @click.stop="toggleNavbar()">
                    MENU <span class="navbar-toggler-icon"></span>
                </button>
               
                <div class="collapse navbar-collapse mr-4" id="collapsibleNavbar" v-bind:class="{ 'show': show }">                                    
                        <ul class="navbar-nav ml-auto mx-auto">
						    <li class="nav-link"><a @click="setComponent('main')">Dashboard</a></li>
							<li class="nav-link"><a  @click="setComponent('orders')">Orders</a></li>
							<li class="nav-link"><a @click="setComponent('products')">Products</a></li>
							<li class="nav-link"><a @click="setComponent('users')">Users</a></li>
							<li class="nav-link"><a @click="setComponent('category')">Category</a></li>
							<li class="nav-link"><a @click="setComponent('brand')">Brands</a></li>
							<li class="nav-link"><a @click="setComponent('tag')">Tags</a></li>
							<li class="nav-link"><a @click="setComponent('coupons')">Coupons</a></li>
							<li class="nav-link"><a href=""> Hi, {{userdata.firstname}}</a></li>
							<li class="nav-link" @click="logout"><a href=""> Logout</a></li>			
                        </ul>                                                                  
                </div>           
           </nav>
		</header>
		<!--<div class="container-fluid hero-section d-flex align-content-center justify-content-center flex-wrap ml-auto">
		<h2 class="title">Admin Dashboard</h2>
	</div>
		<nav class="navbar na navbar-expand-sm  navbar-light bg-light fixed-top fixed-top-2">

		</nav>  -->
		<div class="container" id="rout">

			<component :is="activeComponent"></component>

		</div>
	</div>
</template>
<style scope>
   .hero-section {
		height: 20vh;
		background: #ababab;
		align-items: center;
		margin-bottom: 20px;
		margin-top: -20px;
	}

	.title {
		font-size: 60px;
		color: #ffffff;
	}
   button.navbar-toggler{
 
	margin-top: 0px;
    }
	.p {
		margin-top: 20%;
	}
	.fixed-top-2 {
	margin-top: 80px;
}
	.b-primary {
		width: 120px;
	}
	.na {
	background-color: #FC611F !important;
}
 @media (min-width: 768px) {
     .nav {
    display: none;
	
  }
  }

.sticky {
	list-style-type: none;
	position: sticky;
	overflow: hidden;
	top: 82px;
	width: 100%;
	
}
a {
    color: #E7AB3C !important;
}

</style>
<script>
    import { mapGetters} from 'vuex';
    import Product from './admin/Products.vue'
	import Main from './admin/Main.vue'
	import Users from './admin/Users'	
	import Category from './admin/Category.vue';	
	import Brand from './admin/Brand.vue';
	import Tag from './admin/Tag.vue';
	import Orders from './admin/Orders.vue';
	import Coupons from './admin/Coupons.vue';
	export default {
		data() {
			return {
		    	show: false,
				name: null,
				user_type: 0,
				user: null,
				activeComponent: null,
				isLoggedIn: localStorage.getItem('shop.mdi.in.rs.jwt') != null
			}
		},
		components: {
			Main, Users, Category, Product, Brand, Orders, Tag, Coupons
		},
		beforeMount() {
			this.setComponent(this.$route.params.page)
			this.user = JSON.parse(localStorage.getItem('shop.mdi.in.rs.  d fuser'))
			axios.defaults.headers.common['Content-Type'] = 'application/json'
			axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('shop.mdi.in.rs.jwt')

			 if (this.isLoggedIn) {
					let user = JSON.parse(localStorage.getItem('shop.mdi.in.rs.user'))
					this.name = user.name
					
					
					this.user_type = user.is_admin
				}
		},
			computed: {		   
			...mapGetters(['userdata']),		
			}, 
		methods: {
			setComponent(value) {
				switch(value) {
						case "users":
						this.activeComponent = Users
						this.$router.push({name: 'admin-pages', params: {page: 'users'}})
						break;	
                        case "brand":
						this.activeComponent = Brand
						this.$router.push({name: 'admin-pages', params: {page: 'brand'}})
						break;	
						case "tag":
						this.activeComponent = Tag
						this.$router.push({name: 'admin-pages', params: {page: 'tag'}})
						break;	
                        case "orders":
						this.activeComponent = Orders
						this.$router.push({name: 'admin-pages', params: {page: 'orders'}})
						break;
                        case "products":
						this.activeComponent = Product
						this.$router.push({name: 'admin-pages', params: {page: 'products'}})
						break;							
					    case "category":
						this.activeComponent = Category
						this.$router.push({name: 'admin-pages', params: {page: 'category'}})
						break;					
					    default:
						this.activeComponent = Main
						this.$router.push({name: 'admin'}).catch(err => {})
						break;
						
						case "coupons":
						this.activeComponent = Coupons
						this.$router.push({name: 'admin-pages', params: {page: 'coupons'}})
						break;
				}
			},
			     
              toggleNavbar() {
      this.show = !this.show
    },    
		  
            logout(){
                localStorage.removeItem('shop.mdi.in.rs.jwt')
                localStorage.removeItem('shop.mdi.in.rs.user')
                this.user_type = 0	
                this.$router.push('/')
				 window.location.reload()
            }
		} 
	}
</script>

