<template>
    <div class="container" id="rout">
        
        <div class="row justify-content-center">
            <div class="col-md-8"> 
			<div class="alert-danger r text-center" v-if="error"><h3>{{error}}</h3></div>
                <div class="card card-default">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                          <form @submit.prevent="changepassword">                           
                            <div class="form-group row">							
                                <label class="label">Email: </label>			
											<input
									name="email"
									v-model="email"
									v-validate="'required|email'"
									class="form-control"
									type="text">	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('email')">
									 {{ errors.first('email') }}
									</div>							
                                </div>
                            <div class="form-group row">
                                <label class="label">Old Password: </label>				
									<input
									name="oldpassword"
									v-model.trim="oldpassword"
									v-validate="'min:6'"
									class="form-control"
									type="password" />
									<div
									class="help-block alert alert-danger"	                                    
									v-show="errors.has('oldpassword')">
									     {{ errors.first('oldpassword') }}
									</div>							
                            </div>							
							<div class="form-group row">
                                <label class="label">New Password: </label>				
									<input
									name="password"
									v-model.trim="password"
									v-validate="'min:6'"
									ref="password"
									class="form-control"
									type="password" />
									<div
									class="help-block alert alert-danger"	                                    
									v-show="errors.has('password')">
									     {{ errors.first('password') }}
									</div>							
                            </div>
							<div class="form-group row">
                                <label class="label">Confirm New Password: </label>				
									<input
									name="password_confirmation"
									v-model.trim="password_confirmation"
									v-validate="'min:6|confirmed:password'"
									data-vv-as="password"
									class="form-control"
									type="password" />
									<div
									class="help-block alert alert-danger"	                                    
									v-show="errors.has('password_confirmation')">
									     {{ errors.first('password_confirmation') }}
									</div>							
                            </div>
							<br><br>
                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="site-btn">
                                        Change Password
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                email: "",
                oldpassword : "",
                password : "",
                password_confirmation : "",
				error: ""
				
            }
        },
        methods: {
            changepassword() {
			               this.$validator.validateAll().then((result) => {
						   if (!result) {
							this.error = "Proverite da li ste uneli validne podatke!";
							return;
						   } 
						   let email = this.email
                           let oldpassword = this.oldpassword
                           let password = this.password
						          axios.post('api/changepassword', {email, oldpassword, password}).then(response => {
                            let user = response.data.user
                            let is_admin = user.is_admin

                            localStorage.setItem('blog.mdi.in.rs.user', JSON.stringify(user))
                            localStorage.setItem('blog.mdi.in.rs.jwt', response.data.token)

                            if (localStorage.getItem('blog.mdi.in.rs.jwt') != null) {
                                this.$emit('loggedIn')
                                if (this.$route.params.nextUrl != null) {
                                    this.$router.push(this.$route.params.nextUrl)
                                } else {
                                    this.$router.push((is_admin == 1 ? 'admin' : 'blog'))
                                }
                            } 
                            
								}).catch(error => {
									
									  if (error.response.status == 401){
										this.error = error.response.data.error
										
									   }
									
								  })
						   })
          
              }
        }
   }
</script>
